name: Meshery Extension Build Reusable
on:
  workflow_call:
    inputs:
      checkout_ref:
        required: true
        type: string
      pr_number:
        default: ""
        required: false
        type: string
      comment_id:
        default: "comment-pr"
        required: false
        type: string
    secrets:
      NODE_VERSION:
        required: true
      GH_ACCESS_TOKEN:
        required: true

jobs:
  build-meshery-extension:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Meshery-extensions code
        uses: actions/checkout@v5
        with:
          repository: layer5labs/meshery-extensions
          path: ./meshery-extensions
          fetch-depth: 1
          ref: ${{ inputs.checkout_ref }}
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Checkout Meshery code
        uses: actions/checkout@v5
        with:
          repository: meshery/meshery
          path: ./meshery
          fetch-depth: 1
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.5"
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ secrets.NODE_VERSION }}
          cache: "npm"
          cache-dependency-path: 'meshery-extensions/meshmap/package-lock.json'
      - name: Verify go.mod sync compatibility
        working-directory: meshery-extensions
        run: |
          make graphql-sync-err
      - name: comment success
        if: ${{ success() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: GraphQL compatibility package check completed."
          append: true
      - name: comment Failure
        if: ${{ failure() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":x: GraphQL validation compatibility package check Failed: Upcoming PR dependencies are out of sync with Meshery Server default branch."
          append: true
      - name: Validate MesheryUI Compatibility Package
        working-directory: ./meshery-extensions
        run: make kanvas-validate-mesheryui-compatibility
      - name: comment success
        if: ${{ success() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: Kanvas compatibility package check completed."
          append: true
      - name: comment Failure
        if: ${{ failure() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":x: Kanvas compatibility package check Failed: Upcoming PR dependencies are out of sync with Meshery UI default branch."
          append: true
      - name: Build Meshery Extension UI
        working-directory: ./meshery-extensions
        run: make kanvas-prod # gql build is not done for now
      - name: Build Graphql Plugin
        working-directory: ./meshery-extensions
        run: make graphql
      - name: Show runner tree
        run: tree /home/runner/.meshery
      - name: relocate meshery-extension-ui
        run: mv /home/runner/.meshery/provider/Layer5/*/provider /home/runner/provider
      - name: Show runner tree
        run: tree /home/runner/ -L 3
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: meshery-extension-ui
          path: /home/runner/provider
          if-no-files-found: error
      - name: comment progress
        if: ${{ success() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: Meshery Extensions build complete."
          append: true
      - name: comment Failure
        if: ${{ failure() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":x: Meshery Extensions build Failed."
          append: true
