name: Meshery Extension Test
on:
  workflow_call:
    inputs:
      checkout_ref:
        required: true
        type: string
      pr_number:
        default: ""
        required: false
        type: string
      test_command:
        default: "make test"
        required: false
        type: string
    secrets:
      PROVIDER_TOKEN:
        required: true
      GH_ACCESS_TOKEN:
        required: true
      LAYER5_CLOUD_USERNAME:
        required: true
      LAYER5_CLOUD_PASSWORD:
        required: true
      LAYER5_CLOUD_TESTING_BOT_EMAIL:
        required: true
      LAYER5_CLOUD_TESTING_BOT_PASSWORD:
        required: true

jobs:
  comment-starting-point:
    runs-on: ubuntu-24.04
    if: ${{ github.event.inputs.pr_number != '' }}
    steps:
      - name: comment starting point
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: "Starting [Meshery Extensions tests](https://github.com/layer5labs/meshery-extensions-packages/actions/runs/${{ github.run_id }})..."
          recreate: true


  build-meshery-extension:
    uses: ./.github/workflows/build-extension-reusable.yml
    secrets: inherit
    with:
      checkout_ref: ${{ inputs.checkout_ref }}
      pr_number: ${{ inputs.pr_number }}
      comment_id: extension-test
      
  tests-ui-e2e:
    needs: [build-meshery-extension]
    name: UI end-to-end tests
    runs-on: ubuntu-24.04
    outputs:
      test-results: ${{ steps.run_tests.outputs.test-results }}
    steps:

      - name: comment progress start
        if: ${{ github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: Setting up test environment..."
          append: true


      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          cluster_name: "kind-cluster"
          
      - name: Update /etc/hosts
        run: echo "127.0.0.1 mesherylocal.layer5.io" | sudo tee -a /etc/hosts

      - name: Set Release extensions
        run: |
          curl -s https://api.github.com/repos/layer5labs/meshery-extensions-packages/releases >> extension_releases.json
          export TAG=$(jq .[0].tag_name extension_releases.json)
          echo tag=$TAG >> $GITHUB_ENV
          echo $TAG

      - name: make directories
        run: |
          echo ${{env.tag}}
          echo ${{env}}
          mkdir -p /home/runner/.meshery/provider/Meshery/${{env.tag}}/provider/
          
      - name: Run backend (Docker)
        run: |
          docker run -d \
            --name meshery-backend \
            -p 9081:9081 \
            -e PROVIDER_BASE_URLS=https://cloud.layer5.io \
            -e PORT=9081 \
            -e BUILD=${{ env.tag }} \
            docker.io/meshery/meshery:stable-latest

      - name: Download Meshery-extension-ui artifacts
        uses: actions/download-artifact@v4
        with:
          name: meshery-extension-ui
          path: provider
          
      - name: Move provider files
        run: |
          #mkdir -p /home/runner/.meshery/provider/Meshery/${{env.tag}}/provider/
          docker exec -u root meshery-backend \
               mkdir -p /home/appuser/.meshery/provider/Layer5/${{ env.tag }}/provider
          docker cp -a /home/runner/work/meshery-extensions-packages/meshery-extensions-packages/provider/  meshery-backend:/home/appuser/.meshery/provider/Layer5/${{env.tag}}/
          # mv /home/runner/work/meshery-extensions-packages/meshery-extensions-packages/provider/ /home/runner/.meshery/provider/Meshery/${{env.tag}}/

      - name: Checkout Meshery-extensions code
        uses: actions/checkout@v6
        with:
          repository: layer5labs/meshery-extensions
          path: ./meshery-extensions
          fetch-depth: 1
          ref: ${{ inputs.checkout_ref }}
          token: ${{ secrets.GH_ACCESS_TOKEN }}


      - name: show tree
        run: tree  -L 2

      - name: Install Playwright dependencies
        working-directory: meshery-extensions
        run: ls && make test-setup

      - name: comment progress start
        uses: hasura/comment-progress@v2.3.0
        if: ${{ github.event.inputs.pr_number != '' }}
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: Test environment ready. Starting tests..."
          append: true

      - name: Run  Tests
        id: run_tests
        continue-on-error: true
        working-directory: meshery-extensions
        run: |
          ${{ inputs.test_command }}
        env:
          PROVIDER_TOKEN: ${{ secrets.PROVIDER_TOKEN }}
          MESHERY_SERVER_URL: "http://localhost:9081"
          REMOTE_PROVIDER_URL: "https://cloud.layer5.io"
          REMOTE_PROVIDER_USER_EMAIL: ${{ secrets.LAYER5_CLOUD_TESTING_BOT_EMAIL }}
          REMOTE_PROVIDER_USER_PASSWORD: ${{ secrets.LAYER5_CLOUD_TESTING_BOT_PASSWORD }}

      - name: Read test report
        id: test_reports
        working-directory: meshery-extensions
        run: |
             ls -ah
             ls test-results
             echo "result<<EOF" >> $GITHUB_OUTPUT
             cat test-results/test-report.md >> $GITHUB_OUTPUT
             echo "EOF" >> $GITHUB_OUTPUT

      - name: comment the summary
        uses: hasura/comment-progress@v2.3.0
        if: ${{ always() && github.event.inputs.pr_number != '' }}
        with:
          message: |
            ${{steps.test_reports.outputs.result}}
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          append: true

      - uses: actions/upload-artifact@v4
        id: playwright_trace
        
        if: ${{ !cancelled() }}
        with:
          name: playwright_trace
          path: meshery-extensions/test-results/
          retention-days: 30


      - uses: actions/upload-artifact@v4
        id: html_report
        if: ${{ !cancelled() }}
        with:
          name: playwright-html-report
          path: meshery-extensions/playwright-report
          retention-days: 30


      - name: Comment Test failure
        uses: hasura/comment-progress@v2.3.0
        if: ${{ failure() && github.event.inputs.pr_number != '' }}
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":x: One or more tests have failed."
          append: true

      - name: Comment Final Status
        if: ${{ always() && github.event.inputs.pr_number != '' }}
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5labs/meshery-extensions"
          number: ${{ inputs.pr_number }}
          id: extension-test
          message: ":heavy_check_mark: Download Extension [test results](${{ steps.test-results.outputs.artifact-url }})."
          append: true
