name: Meshery Cloud Build Reusable
on:
  workflow_call:
    inputs:
      pr_commit_sha:
        required: true
        type: string
      pr_number:
        required: true
        type: string
    secrets:
      PROVIDER_TOKEN:
        required: true
      NODE_VERSION:
        required: true
      GH_ACCESS_TOKEN:
        required: true
      CYPRESS_RECORD_KEY:
        required: true
      LAYER5_CLOUD_USERNAME:
        required: true
      LAYER5_CLOUD_PASSWORD:
        required: true
      LAYER5_CLOUD_TESTING_BOT_EMAIL:
        required: true
      LAYER5_CLOUD_TESTING_BOT_PASSWORD:
        required: true
      GLOBAL_TOKEN:
        required: true
      METAL05_HOST:
        required: true
      METAL_KEY:
        required: true
      METAL_USERNAME:
        required: true
      DOCKER_USERNAME: 
        required: true
      DOCKER_PASSWORD: 
        required: true
      MAIL_USERNAME: # <-- Added this secret
        required: true
      MAIL_PASSWORD: # <-- Added this secret
        required: true
        
jobs:
  comment-starting-point:
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      PR_NUMBER: ${{ inputs.pr_number }}
    steps:
      - name: comment starting point
        uses: hasura/comment-progress@v2.3.0
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: "layer5io/meshery-cloud"
          number: ${{ inputs.pr_number }}
          id: meshery-cloud
          message: "Starting Cloud Server build ([takes approximately 10 min end-to-end](https://github.com/layer5labs/meshery-extensions-packages/actions/runs/${{ github.run_id }}))..."
          recreate: true
  build-meshery-cloud:
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      PR_NUMBER: ${{ inputs.pr_number }}
    steps:
      - name: Checkout for composite action
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          sparse-checkout: |
            .github/actions/cloud-comment
          sparse-checkout-cone-mode: false
      
      - name: Checkout Cloud code (PR head)
        uses: actions/checkout@v5
        with:
          repository: "layer5io/meshery-cloud"
          path: ./meshery-cloud
          fetch-depth: 1
          ref: refs/pull/${{ inputs.pr_number }}/head
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Checked out Cloud repo."
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to check out Cloud repo."

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Setup QEMU"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to setup QEMU"

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Setup Docker Buildx"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to setup Docker Buildx"

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: layer5/meshery-cloud
          flavor: |
            latest=true
          tags: |
            type=raw,value=staging-{{sha}}
            type=raw,value=staging-${{env.PR_NUMBER}}
            type=raw,value=staging-latest
            type=raw,value=staging-${{env.GIT_VERSION}}
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Configured Docker Meta"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to configure Docker Meta"

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Logged into Docker Hub <br />           :heavy_check_mark: Building and pushing Cloud container image to Hub (takes approximately 5min 30sec)"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to log into Docker Hub"
      
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: https://github.com/layer5io/meshery-cloud.git#${{ inputs.pr_commit_sha }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GH_ACCESS_TOKEN }}
          build-args: |
            ENVIRONMENT="staging"
            GIT_VERSION=staging-${{env.PR_NUMBER}}
            RELEASE_CHANNEL=staging
            TOKEN=${{ secrets.GLOBAL_TOKEN }}
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":heavy_check_mark: Built and pushed Cloud container image to Hub"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":x: Failed to build and push Cloud container image to Hub"
        
      - name: Deploy staging on metal05
        id: deploy
        uses: appleboy/ssh-action@master
        env:
            PR_NUMBER: ${{env.PR_NUMBER}}
            GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          host: ${{ secrets.METAL05_HOST }}
          username: ${{ secrets.METAL_USERNAME }}
          key: ${{ secrets.METAL_KEY }}
          port: 22
          envs: PR_NUMBER
          # This script will exit immediately if any command fails.
          # Alternate sync operation: git pull https://l5io:$GH_ACCESS_TOKEN@github.com/layer5io/meshery-cloud.git master
          script: |
            bash
            set -e 
            helm repo update layer5
            cd deploy/meshery-cloud
            gh repo sync
            cd ../..
            helm upgrade -f ~/deploy/meshery-cloud/install/environment/staging/values.yaml cloud ~/deploy/meshery-cloud/install/kubernetes/helm/layer5-cloud/ -n staging --set=image.tag=staging-$PR_NUMBER --set-file 'kratos.kratos.emailTemplates.recovery.valid.subject'=./deploy/meshery-cloud/config/email-templates/valid/email-recover-subject.body.gotmpl --set-file 'kratos.kratos.emailTemplates.recovery.valid.body'=./deploy/meshery-cloud/config/email-templates/valid/email-recover.body.gotmpl --set-file 'kratos.kratos.emailTemplates.verification.valid.subject'=./deploy/meshery-cloud/config/email-templates/valid/email-verify-subject.body.gotmpl --set-file 'kratos.kratos.emailTemplates.verification.valid.body'=./deploy/meshery-cloud/config/email-templates/valid/email-verify.body.gotmpl
            
      - name: comment success
        if: success()
        uses: ./.github/actions/cloud-comment
        with:
          message: ":white_check_mark: Deployed staging on metal05 at https://staging-cloud.layer5.io"
      - name: comment failure
        if: failure()
        uses: ./.github/actions/cloud-comment
        with:
          message: |
            :x: Failed to deploy staging on metal05
            
            **Deployment Script Output:**
            ```
            ${{ steps.deploy.outputs.stdout }}
            ${{ steps.deploy.outputs.stderr }}
            ```

