name: Meshery Cloud Build On PR Dispatch
on:
  workflow_dispatch:
    inputs:
      pr_commit_sha:
        required: true
        type: string
      pr_number:
        required: true
        type: string

jobs:
  pass-secrets-to-workflow:
    uses: ./.github/workflows/meshery-cloud-build-reusable.yml
    secrets: 
      PROVIDER_TOKEN: ${{secrets.PROVIDER_TOKEN}}      
      LAYER5_CLOUD_USERNAME: ${{secrets.LAYER5_CLOUD_USERNAME}}
      LAYER5_CLOUD_PASSWORD: ${{secrets.LAYER5_CLOUD_PASSWORD}}
      LAYER5_CLOUD_TESTING_BOT_EMAIL: ${{secrets.LAYER5_CLOUD_TESTING_BOT_EMAIL}}
      LAYER5_CLOUD_TESTING_BOT_PASSWORD: ${{secrets.LAYER5_CLOUD_TESTING_BOT_PASSWORD}}
      CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_RECORD_KEY}}
      NODE_VERSION: ${{secrets.NODE_VERSION}}
      GH_ACCESS_TOKEN: ${{secrets.GH_ACCESS_TOKEN}}
      GLOBAL_TOKEN: ${{secrets.GLOBAL_TOKEN}}
      METAL05_HOST: ${{secrets.METAL05_HOST}}
      METAL_KEY: ${{secrets.METAL_KEY}}
      METAL_USERNAME: ${{secrets.METAL_USERNAME}}
      DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
      DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      MAIL_USERNAME: ${{secrets.MAIL_USERNAME}}
      MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}

      
    with:
      pr_commit_sha: ${{inputs.pr_commit_sha}}
      pr_number: ${{inputs.pr_number}}
