name: Production Smoke Test Reusable
on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
    secrets:
      GH_ACCESS_TOKEN:
        required: true
      LAYER5_CLOUD_TESTING_BOT_EMAIL:
        required: true
      LAYER5_CLOUD_TESTING_BOT_PASSWORD:
        required: true
      MAIL_USERNAME:
        required: true
      MAIL_PASSWORD:
        required: true

jobs:
  smoke-test-production:
    name: Production end-to-end tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Meshery-extensions code
        uses: actions/checkout@v5
        with:
          repository: layer5labs/meshery-extensions
          path: ./meshery-extensions
          fetch-depth: 1
          ref: "master"
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: 'meshery-extensions/meshmap/package-lock.json'
      - name: show tree
        run: tree  -L 2
      - name: Install Playwright dependencies
        working-directory: meshery-extensions
        run: ls && make test-setup
      - name: Run  Tests
        id: run_tests
        working-directory: meshery-extensions
        run: make test-smoke-${{ inputs.project }}
        env:
          REMOTE_PROVIDER_USER_EMAIL: ${{ secrets.LAYER5_CLOUD_TESTING_BOT_EMAIL }}
          REMOTE_PROVIDER_USER_PASSWORD: ${{ secrets.LAYER5_CLOUD_TESTING_BOT_PASSWORD }}
      - uses: actions/upload-artifact@v4
        id: test-results
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: meshery-extensions/meshmap/test-results/
          retention-days: 14
      - name: Send Email on Production Release Failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v6
        env:
          msg: ${{ inputs.project }} production smoke test failure
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: GitHub Actions - Production Smoke Test Failure
          from: |
            "Meshery Extensions" <no-reply@meshery.io>
          to: |
            "Layer5 Support" <support@layer5.io>
          html_body: |
            <b>REPO:</b> ${{ github.repository }}<br />  
            <b>WORKFLOW:</b> ${{ github.workflow }}<br />
            <b>JOB:</b> ${{ github.job }}<br />
            <b>REASON:</b> ${{ env.msg }}<br />
            <b>DETAILS:</b> <a href="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}${{ job.status }}">${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}</a><br />